body{
    margin:0px;
    font-family: sans-serif;
    font-size: 30px;
}
#body-header{
    height:65vh;
    opacity:0.8;
    background-image:url(macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top:1.2rem;
}

.horizontal-list{
    list-style: none;
    margin:0px;
    padding-left:0px;
}
.horizontal-list li{
    display:inline-block;
    margin:0px 9.2px 9.2px 0px;
    font-weight: 100;
    font-size: 1.2rem;
}

.horizontal-list li a{
    color:white;
    text-decoration: none;
}
.nav-menu li a{
    transition: color 0.5s,border-bottom 4s;
}
.nav-menu li a:hover{
    color:lightgrey;
    border-bottom: 1px solid black;
}
.text-center{
    text-align: center;
}

#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size:3rem;
    letter-spacing:0.1rem;
    font-weight: 700;
    color:white;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius:50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

#about{
    height: auto;
    width:100%;
    position: relative;
}
#my-image{
    height:12rem;
    width:12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width:100%;
    border-radius: 50%;
    border:3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}
section:nth-child(2n){
    background-color:#9e9b9b29;;
}
section:nth-child(2n+1){
    background-color:white;
}
section{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.section-heading{
    width:auto;
    padding:20px 10px 10px;
    font-weight: 400;
}
.section-heading span{
    font-size:40px;
    color:#2857a4;
    display: inline-block;
    padding-top:10px;
    margin-right:0.5rem;
}
.skills-display{
    width:60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom:43px;
}
.skill-progress{
    width:7rem;
    height:1.4rem;
    background-color: lightgrey;
    /* box-shadow:10px -4px 6px 0px white inset; */
    /* box-shadow:15px 20px 44px 0px white inset; */
    box-shadow:15px 10px 27px 0px white inset;
    border-radius:0.8rem;
    margin:1rem 2rem 1rem 3rem;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
}
.skill-name{
    font-size:1rem;
    padding-top:1px;
}
.skill-name span {
    color: white;
    font-size: 0.8rem;
    margin-left: 15px;
}
.mb75px {
    margin-bottom: 75px;
}
.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
.mb-blue{
    background-color: #2857a4;
    box-shadow: 3px 0px 1.5px 0px #beb9b9;
}
.mb-orange{
    background-color:orange;
    box-shadow: 3px 0px 1.5px 0px #beb9b9; 
}
.mb-purple{
    background-color: darkmagenta;
    box-shadow: 3px 0px 1.5px 0px #beb9b9;
}
.mb-green{
    background-color: teal;
    box-shadow: 3px 0px 1.5px 0px #beb9b9;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}

.forty-five-percent{
    width:45%;
    height: inherit;
}

.ninty-percent{
    width:90%;
    height:inherit;
}
.portfolio-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom:20px;
}
.project>img{
    width:300px;
    height:300px;
}
.project{
    margin:1rem 3rem 1rem 2rem;
    position: relative;
}
.project-details{
    margin:0px;
    position: absolute;
    top:19%;
    left:0%;
    visibility: hidden;
}
.project:hover{
    border:4px solid aqua;
    background-color: lightgray;
     opacity:0.8;
}
.project:hover p{
    visibility: visible;
    color:white;
    text-align: center;
}
#experience,#education{
    margin-bottom:2.5rem;
}
.timeline{
    position: relative;
    width:75%;
    margin-bottom:20px;
}
.timeline-box{
    position: relative;
    left:5%;
    margin:5px;
    width:40%;
    min-height: 150px;
    /* border:2px solid black; */
    font-size: 1rem;
    font-weight: 500;
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box:nth-child(2n+1)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    top:37%;
    right:-13%;
    width:0.8rem;
    height:0.8rem;
    background-color: lightgrey;
    z-index:1;
}
.timeline-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    top:37%;
    left:-9.6%;
    width:0.8rem;
    height:0.8rem;
    background-color: lightgrey;
    z-index:1;
}
.timeline-divider{
    position: absolute;
    top:10%;
    left:50%;
    width:0;
    height:75%;
    border:3px dashed lightgrey;
}
.timeline-traveller{
    position: sticky;
    top:30%;
    transform: rotate(90deg);
    z-index:2;
    color:blue;
}
.exp-1{
   width:100%;
   height:100%;
   display: flex;
   justify-content: space-between;
}
.exp-1 img{
    height:3rem;
    width:3rem;
}
.exp1-details h3{
   margin:0;
   font-weight: 100;
   font-size: 1.3rem;
}
.exp-1-details1{
    color:darkblue;
    font-weight:bold !important;
    padding-left: 40%;
    margin-bottom:0.2rem !important;
}
.exp-1-details2{
    color:orange;
    padding-left: 26%;
    font-weight:larger !important;
}
.exp-1-details3{
    color:grey;
    font-weight:bold !important;
    margin-bottom:0.5rem !important;
    font-size: 1rem !important;
}
.edu-1{
    padding-left:63.5%;
}
.edu-2{
    padding-left:33.5%;
}
.contact{
    background-image: linear-gradient(to right top,blue,darkblue 50%);
    display: block;
}
.contact-heading{
    text-align: center;
    padding-top:2rem;
    margin-top:0.9rem;
}
.contact-heading span{
    color:white;
} 
.contact-details{
    margin-left:10%;
    display: inline-block;
} 
.contact-form input{
      background: none;
      border:0 solid white;
      border-bottom: 0.13rem solid white;
      width:100%;
      padding-bottom:0.3rem;
      display: block;
      margin-bottom:2rem;
      padding-left:0.7rem;
}
::placeholder{
    color: white;
}
input:focus,textarea:focus{
    outline: none;
    color:white;
}
.contact-form textarea{
    background: none;
    border:0 solid white;
    border-bottom: 0.13rem solid white;
    padding-top:0.01rem;
    padding-left:0.7rem;
    color:white;
}
.submit-btn{
    margin-left:25%;
    margin-top:2.75rem;
    width:9rem;
    background: none;
    color: white;
    border-color: white;
    padding:0.34rem;
    font-weight: bold;
}
.company-details{
    display: inline-block;
    width:40%;
    margin-left:5.3rem;
    color:white;
    transform:translateY(-0.1rem);
    font-size: 1.2rem;
}
.company-details-heading{
    font-weight: bold;
    font-size: larger;
    margin-bottom:0.5rem;
}
.get-in-touch{
    color:lightgray;
}
.my-address{
    font-weight: bold;
    font-size: larger;
    margin-bottom:1rem;
}
.address-details{
    margin-bottom:0.75rem;
    color:lightgray;
}
.mr{
    margin-right:0.65rem;
    color:white;
}
.social-media-icons{
    margin-top:2rem;
}
